#![no_std]
use komorei::{
	Anime, AnimePageResult, DeepLinkHandler, DeepLinkResult, Episode, FilterValue, Home,
	HomeLayout, KomoreiError, Listing, ListingProvider, Result, Source, StreamData, StreamInfo,
	alloc::{String, Vec},
	prelude::*,
};

struct {{SOURCE_NAME}};

impl Source for {{SOURCE_NAME}} {
	fn new() -> Self {
		Self
	}

	fn get_search_anime_list(
		&self,
		_query: Option<String>,
		_page: i32,
		_filters: Vec<FilterValue>,
	) -> Result<AnimePageResult> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_anime_update(
		&self,
		_anime: Anime,
		_needs_details: bool,
		_needs_chapters: bool,
	) -> Result<Anime> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_stream_list(
		&self,
		_anime: Anime,
		_episode: Episode,
	) -> Result<Vec<StreamInfo>> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_stream(
		&self,
		_anime: Anime,
		_episode: Episode,
		_stream: StreamInfo,
	) -> Result<StreamData> {
		Err(KomoreiError::Unimplemented)
	}
}

impl ListingProvider for {{SOURCE_NAME}} {
	fn get_anime_list(&self, _listing: Listing, _page: i32) -> Result<AnimePageResult> {
		Err(KomoreiError::Unimplemented)
	}
}

impl Home for {{SOURCE_NAME}} {
	fn get_home(&self) -> Result<HomeLayout> {
		Err(KomoreiError::Unimplemented)
	}
}

impl DeepLinkHandler for {{SOURCE_NAME}} {
	fn handle_deep_link(&self, _url: String) -> Result<Option<DeepLinkResult>> {
		Err(KomoreiError::Unimplemented)
	}
}

register_source!({{SOURCE_NAME}}, ListingProvider, Home, DeepLinkHandler);