#![no_std]
use komorei::{
	alloc::{String, Vec},
	prelude::*,
	Anime, AnimePageResult, DeepLinkHandler, DeepLinkResult, Episode, FilterValue, Home,
	HomeLayout, KomoreiError, Listing, ListingProvider, Result, Source, StreamData, StreamInfo,
};

pub struct Params {}

impl Default for Params {
	fn default() -> Self {
		Self {}
	}
}

pub struct {{TEMPLATE_NAME}}<T: Impl> {
	inner: T,
	params: Params,
}

pub trait Impl {
	fn new() -> Self;

	fn params(&self) -> Params;

	fn get_search_anime_list(
		&self,
		_params: &Params,
		_query: Option<String>,
		_page: i32,
		_filters: Vec<FilterValue>,
	) -> Result<AnimePageResult> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_anime_update(
		&self,
		_params: &Params,
		_anime: Anime,
		_needs_details: bool,
		_needs_chapters: bool,
	) -> Result<Anime> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_stream_list(
		&self,
		_params: &Params,
		_anime: Anime,
		_episode: Episode,
	) -> Result<Vec<StreamInfo>> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_stream(
		&self,
		_params: &Params,
		_anime: Anime,
		_episode: Episode,
		_stream: StreamInfo,
	) -> Result<StreamData> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_anime_list(
		&self,
		_params: &Params,
		_listing: Listing,
		_page: i32,
	) -> Result<AnimePageResult> {
		Err(KomoreiError::Unimplemented)
	}

	fn get_home(&self, _params: &Params) -> Result<HomeLayout> {
		Err(KomoreiError::Unimplemented)
	}

	fn handle_deep_link(&self, _params: &Params, _url: String) -> Result<Option<DeepLinkResult>> {
		Err(KomoreiError::Unimplemented)
	}
}

impl<T: Impl> Source for {{TEMPLATE_NAME}}<T> {
	fn new() -> Self {
		let inner = T::new();
		let params = inner.params();
		Self { inner, params }
	}

	fn get_search_anime_list(
		&self,
		query: Option<String>,
		page: i32,
		filters: Vec<FilterValue>,
	) -> Result<AnimePageResult> {
		self.inner
			.get_search_anime_list(&self.params, query, page, filters)
	}

	fn get_anime_update(
		&self,
		anime: Anime,
		needs_details: bool,
		needs_chapters: bool,
	) -> Result<Anime> {
		self.inner
			.get_anime_update(&self.params, anime, needs_details, needs_chapters)
	}

	fn get_stream_list(&self, anime: Anime, episode: Episode) -> Result<Vec<StreamInfo>> {
		self.inner.get_stream_list(&self.params, anime, episode)
	}

	fn get_stream(
		&self,
		anime: Anime,
		episode: Episode,
		stream: StreamInfo,
	) -> Result<StreamData> {
		self.inner.get_stream(&self.params, anime, episode, stream)
	}
}

impl<T: Impl> ListingProvider for {{TEMPLATE_NAME}}<T> {
	fn get_anime_list(&self, listing: Listing, page: i32) -> Result<AnimePageResult> {
		self.inner.get_anime_list(&self.params, listing, page)
	}
}

impl<T: Impl> Home for {{TEMPLATE_NAME}}<T> {
	fn get_home(&self) -> Result<HomeLayout> {
		self.inner.get_home(&self.params)
	}
}

impl<T: Impl> DeepLinkHandler for {{TEMPLATE_NAME}}<T> {
	fn handle_deep_link(&self, url: String) -> Result<Option<DeepLinkResult>> {
		self.inner.handle_deep_link(&self.params, url)
	}
}